#welcome {
	text-align: left;
  margin-top: 10px;
  margin-left: 30px;
}

#trip-name {
	margin-top: 5px;
	font-family: Helvetica;
	font-size: 24px;
  font-style: oblique;
  font-weight: bold;
}
	
body {
    margin: 0;
    font-family: Helvetica;
    background: #ddd;
    color: #000000;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

body > h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #0d0;
    background: url(../images/blackToolbar.png) #000 repeat-x;
    border-bottom: 1px solid #3f4e63;
}

.button {
    position: absolute;
		cursor: pointer;
		overflow: visible;
    top: 7px;
    right: 6px;
    -webkit-border-radius: 0;
    border-width: 0 8px 0 8px;
    padding: 0;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
    
  font-family: 'Droid Sans', arial, sans-serif;
}

.button.left {
  left: 6px;
  width: 150px;
  text-align: left;
}

.button.right {
  width: 150px;
  text-align: right;
}

.red {
  color: #E3182D;
}

.blue {
  color: #0087F7;
}

.green {
  color: #00BD27;
}

.yellow {
  color: #FFDF00;
}

.colorStrip {
  height: 5px;
  min-width: 600px;
}

.colorStrip div {
  float: left;
  height: 5px;
  width: 25%;
}

.colorStrip .red {
  background-color: #E3182D;
}

.colorStrip .blue {
  background-color: #0087F7;
}

.colorStrip .green {
  background-color: #00BD27;
}

.colorStrip .yellow {
  background-color: #FFDF00;
}

.blueGradientButton {
  display: inline-block;
  background-color: #2664cf;
  border-radius: 4px;
  border: 1px solid #4cadfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#0a8ffe), to(#2b5cc6));
  text-align: center;
  padding: 5px 10px 5px 10px;
  color: #FFF;
  margin: 10px 0 5px 0;
  text-decoration: none;
  text-shadow: 0;
  cursor: pointer;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}

