body {
  background: #111;
  color: #ddd;
}

form {
  margin-left: 10px;
}

#transaction-id {
	display: none;
}

select {
  width: 45%;
  font-size: 18px;
  margin: 5px 0;
}

.text-input-label {
	display:inline-block;
	width: 60px;
}

.text-input-box {
	width: 120px;
  font-size: 18px;
  margin: 5px 0;
}

#casino-text {
  display: inline-block;
}

#casino-select {
  display: none;
}

#game-played-text {
	display: none;
}

#notes {
  vertical-align:text-top;
  margin-bottom: 5px;
}

#notes-label {
  margin-top: 2px;
}

#cancel {
	float: left;
  width: 120px;
  font-size: 22px;
}

#extra-button {
	float: left;
	clear: left;
	margin-top: 5px;
  width: 120px;
  font-size: 18px;
}

#submit {
	float: right;
  width: 120px;
  height: 50px;
  padding-top: 15px;
  margin-top: 3px;
	margin-right: 14px;
  font-size: 22px;
}

#is-add-on {
  display: none;
}

#is-delete {
  display: none;
}



/*
 * Autocomplete stuff
 */
.ac-renderer {
  font: normal 16px Arial, sans-serif;
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  width: 300px;
}

.ac-row {
  cursor: pointer;
  padding: .4em;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background-color: #b2b4bf;
}
