body {
  background: #111;
  color: #ddd;
}

form {
  margin-left: 10px;
}

#transaction-id {
  display: none;
}

select {
  width: 98%;
  font-size: 18px;
  margin: 4px 0;
}

.text-input-label {
  display:inline-block;
  width: 60px;
}

.text-input-box {
  width: 90%;
  font-size: 18px;
  margin: 4px 0;
}

#amount {
	margin-left: 2px;
	width: 100px;
}

.textarea-box {
  width: 96%;
  font-size: 18px;
  margin: 4px 0;
}

#casino-text {
  display: inline-block;
}

#casino-select {
  display: none;
}

#game-played-text {
  display: none;
}

#notes {
  vertical-align:text-top;
  margin-bottom: 4px;
}

#notes-label {
  margin-top: 2px;
}

table {
  width: 100%;
  margin: 0;
  padding: 0;
}

td {
  margin: 0;
  padding: 0;
}

td.labels {
  width: 60px;
}

td.input-item {
}

#cancel {
  float: left;
  width: 40%;
  font-size: 22px;
}

#extra-button {
  float: left;
  clear: left;
  margin-top: 4px;
  width: 40%;
  font-size: 18px;
}

.extra-removed #extra-button {
  display: none;
}

#submit {
  float: right;
  width: 40%;
  margin-right: 14px;
  font-size: 22px;
  height: 52px;
  padding-top: 20px;
  -webkit-transition: all 900ms ease-in-out;
}

.extra-removed #submit {
  height: 30px;
  padding-top: 0;
  margin-top: 0;
}

#is-add-on {
  display: none;
}

#is-delete {
  display: none;
}



/*
 * Autocomplete stuff
 */
.ac-renderer {
  font: normal 16px Arial, sans-serif;
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  width: 300px;
}

.ac-row {
  cursor: pointer;
  padding: .4em;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background-color: #b2b4bf;
}
