body {
	overflow: auto;
  background: #111;
  color: #ddd;
}

form {
  margin-left: 10px;
}

#trip-label {
	font: 22px bold;
  font-family: Helvetica;
}

hr {
	margin: 5px 14px 5px 0;
}
	
#trip-name {
	font-size: 18px;
	width: 80%;
	margin-bottom: 10px;
}

.text-input-label {
  display:inline-block;
  width: 60px;
  margin-left: 5px;
}

.text-input-box {
  width: 120px;
}

#creator-email-address {
	color: #777;
	background-color: #ddd;
}
h4 {
	margin: 5px 0;
}

#cancel {
  display: inline-block;
  margin: 5px 10px;
  width: 80px;
  font-size: 18px;
}

#submit {
  position: absolute;
  display: inline-block;
  margin-top: 5px;
  width: 130px;
  right: 14px;
  font-size: 18px;
}

img {
  width: 100%;
}