<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Elevate 300</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="apple-touch-icon" href="/images/ic_elevate_300.png">
  <link rel="stylesheet" type="text/css" href="style/common.css">
  <link rel="stylesheet" type="text/css" href="style/home.css">
  <link rel="stylesheet" type="text/css" href="style/samples.css">
  <!-- <script src="/js/home_logged_in.js"></script>-->
  <script src="/js/elevate300.js"></script>
</head>
<body class="home-logged-in">
<h1>$300 Challenge</h1>
    <span class="button left" onClick="javascript:window.location.href='{{logout_link}}'">Log out</span>
    <span class="button right" onClick="javascript:window.location.href='/info.html'">Info</span>
<center>
<div id="welcome">Hello <span class="nickname">{{name}}</span>, your current trip is</div>
<div id="trip-name">{{current_trip_name}}</div>
</center>
<div class="outer-box">
  <div class="inner-box"></div>
  <div class="inner-box"></div>
  <div class="inner-box"></div>
  <div class="inner-box"></div>
  
  <div id="leaderboard" class="inner-box-text" style="display: table; height: 100px; #position: relative; overflow: hidden;">
    <div style="#position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
      <div class="actual-text" style="#position: relative; #top: -50%; ">
        $300<br>Challenge<br>Leaderboard
      </div>
    </div>
  </div>
  <div id="individual" class="inner-box-text" style="display: table; height: 100px; #position: relative; overflow: hidden;">
    <div style="#position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
      <div class="actual-text" style="#position: relative; #top: -50%; ">
        Individual<br>Standings
      </div>
    </div>
  </div>
    <div id="transaction" class="inner-box-text" style="display: table; height: 100px; #position: relative; overflow: hidden;">
    <div style="#position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
      <div class="actual-text" style="#position: relative; #top: -50%; ">
        Add<br>Transaction
      </div>
    </div>
  </div>
    <div id="options" class="inner-box-text" style="display: table; height: 100px; #position: relative; overflow: hidden;">
    <div style="#position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
      <div class="actual-text" style="#position: relative; #top: -50%; ">
        Trip<br>Options
      </div>
    </div>
  </div>  
<!--   <div id="leaderboard" class="inner-box-text">$300<br>Challenge<br>Leaderboard</div>
  <div id="individual" class="inner-box-text">Individual<br>Standings</div>
  <div id="transaction" class="inner-box-text">Add<br>Transaction</div>
  <div id="options" class="inner-box-text">Trip<br>Options</div> -->
</div>
<script>
  new elevate300.HomeLoggedIn();
</script>
</body></html>