<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Elevate 300</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="apple-touch-icon" href="/images/blueButton.png">
  <link rel="stylesheet" type="text/css" href="style/common.css">
  <link rel="stylesheet" type="text/css" href="style/home.css">
</head>
<body class="home-not-logged-in">
<h1>$300 Challenge</h1>
<span class="button" onClick="javascript:window.location.href='/info.html'">Info</span>
<center onClick="javascript:window.location.href='{{login_link}}'">
<br>
<img class="logo" alt="What happens in Vegas stays in vegas!" src="/images/vegasLogo.png"></img>
<br>
<br>
<img alt="Log in" src="/images/signInButton.png"></img>
<br>
<br>
<h4 class="subtitle">
Please <a href={{loginLink}}>login</a> using a gmail account.<br>
<br>
<br>
<br>
<span class="fine-print">This gambling for charity event is not officially affiliated with Elevate Tutoring.</span>
</h4>
</center>
</body>