<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Elevate Tutoring</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="apple-touch-icon" href="/images/ic_elevate_300.png">
	<link rel="stylesheet" type="text/css" href="style/iphonenav.css">
	<link rel="stylesheet" type="text/css" href="style/samples.css">
	<link rel="stylesheet" type="text/css" href="style/common.css">
  <link rel="stylesheet" type="text/css" href="style/leaderboard.css">
  <script src="/js/iphonenav.js"></script>
  <!--<script src="/js/leaderboard.js"></script>-->
  <script src="/js/elevate300.js"></script>
</head> 

<body onorientationchange="updateOrientation()" orient="landscape">
    <h1 id="pageTitle">Leaderboard</h1>
    <span class="button left" onClick="javascript:window.location.href='/'">Home</span>
    <span class="button right" onClick="javascript:window.location.href='/transaction'">Add Trans</span>
    <a id="homeButton" class="button" href="/leaderboard" style="display: none;">Back</a>
    <ul id="Leaderboard" title="Leaderboard" style="left: 0%; " selected="true">
			{% for displayResult in displayResults %}
			  <li>
			  <div onClick='javascript:window.location.href="/leaderboard#_{{displayResult.challengeId}}"'>
        <div class="fill-bar">
        </div>
        </div>
        <a href="/leaderboard/#{{displayResult.challengeId}}">
        <div class="total-value">{{displayResult.total}}</div>
        <div class="content-pane">
          <div class="top-content-pane">
            {{displayResult.name}}
          </div>
          <div class="bottom-content-pane">
            {{displayResult.challengeType}}
          </div>
        </div>
        <div class="amount-pane total-pane">
          {{displayResult.totalStr}}
        </div>
				</a></li>
			{% endfor %}
    </ul>

		{% for displayResult in displayResults %}
    <ul id="{{displayResult.challengeId}}" title="{{displayResult.name}}"
			parentname="Leaderboard" style="left: -100%; ">
				{% for gamblingEvent in displayResult.gamblingEvents %}
				  <li onClick="javascript:window.location.href='/transaction?id={{gamblingEvent.id}}'" style="margin-left: 10px">
				    <a style="padding: 4px 8px;">
              <div class="amount-value">{{gamblingEvent.amount}}</div>
              <div class="content-pane">
                <div class="top-content-pane">
                  {{gamblingEvent.gamePlayed}}
                </div>
                <div class="bottom-content-pane">
                  {{gamblingEvent.casino}}
                </div>
              </div>
              <div class="amount-pane">
                {{gamblingEvent.amountStr}}
              </div>
            </a>
          </li>
        {% endfor %}
    </ul>
		{% endfor %}
		<script>
		  new elevate300.Leaderboard();
		</script>
</body></html>