<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Elevate Tutoring</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="apple-touch-icon" href="/images/blueButton.png">
	<link rel="stylesheet" type="text/css" href="style/iphonenav.css">
	<link rel="stylesheet" type="text/css" href="style/samples.css">
	<link rel="stylesheet" type="text/css" href="style/common.css">
	<script src="/js/iphonenav.js"></script>
</head> 

<body onorientationchange="updateOrientation()" orient="landscape">
    <h1 id="pageTitle">Leaderboard</h1>
    <span class="button left" onClick="javascript:window.location.href='/'">Home</span>
    <span class="button" onClick="javascript:window.location.href='/transaction'">Add Trans</span>
    <a id="homeButton" class="button" href="/leaderboard" style="display: none;">Leaderboard</a>
    <ul id="Leaderboard" title="Leaderboard" style="left: 0%; " selected="true">
			{% for displayResult in displayResults %}
			  <li><a href="/leaderboard/#{{displayResult.challengeId}}">
					{{displayResult.amountStr}} {{displayResult.challengeDescription}}</a></li>
			{% endfor %}
    </ul>

		{% for displayResult in displayResults %}
    <ul id="{{displayResult.challengeId}}" title="{{displayResult.challengeDescription}}"
			parentname="Leaderboard" style="left: -100%; ">
				{% for gamblingEvent in displayResult.gamblingEvents %}
				  <li onClick="javascript:window.location.href='/transaction?id={{gamblingEvent.id}}'" style="margin-left: 10px">
            {{gamblingEvent.amount}}<br>
            {{gamblingEvent.casino}} {{gamblingEvent.gamePlayed}}<br>
            {{gamblingEvent.notes}}
          </li>
        {% endfor %}
    </ul>
		{% endfor %}
</body></html>