<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Elevate Tutoring</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!-- These links will work for production (fail during uncompiled development) -->
  <link rel="apple-touch-icon" href="/images/ic_elevate_300.png">
	<!-- <script src="/js/transaction.js"></script>-->
  <script src="/js/elevate300.js"></script>
  <link rel="stylesheet" type="text/css" href="style/common.css">
  <link rel="stylesheet" type="text/css" href="style/samples.css">
  <link rel="stylesheet" type="text/css" href="style/transaction.css">

<!-- These links worked for uncompiled development (they will fail during the the compiled product)
  <link rel="stylesheet" type="text/css" href="../style/common.css">
  <link rel="stylesheet" type="text/css" href="../style/transaction.css">
  <link rel="stylesheet" type="text/css" href="../style/samples.css">
  <script type="text/javascript" src="../../../closure/closure-library/closure/goog/base.js"></script>
  <script src="../uncompiled/deps.js"></script>
  <script type="text/javascript">
    goog.require('goog.debug.Logger');
    goog.require('elevate300.Transaction');
  </script>
   -->
   
</head>
<body>
<h1>Transaction</h1>
  <span class="button left" onClick="javascript:window.location.href='/'">Home</span>
  <span class="button right" onClick="javascript:window.location.href='/leaderboard'">Leaderboard</span>
<form id="transaction-form" action="/transaction" method="post" accept-charset="utf-8">
  <input type="text" name="transaction_id" value="{{transaction_id}}" id="transaction-id">
  <select name="email_address" id="email-address">  
    {% for trip_member in trip_member_options %}
      {% if trip_member.email_address == select_email %}
        <option value="{{trip_member.email_address}}" selected="selected">{{trip_member.display_name}}</option>
      {% else %}
        <option value="{{trip_member.email_address}}">{{trip_member.display_name}}</option>
      {% endif %}
    {% endfor %}
  </select>
  <select name="challenge_type" id="challenge-type">
    {% for challenge_type in challenge_type_options %}
      {% if forloop.counter0 == select_challenge_type %}
          <option value="{{forloop.counter0}}" selected="selected">{{challenge_type}}</option>
      {% else %}
        <option value="{{forloop.counter0}}">{{challenge_type}}</option>
      {% endif %}
    {% endfor %}
  </select>
  <table>
  <tbody>
  <tr>
  <td class="labels">
  <label class="text-input-label" for="amount">Amount:</label>
  </td>
  <td class="input-item">
  <input class="text-input-box" type="text" name="amount" value="{{amount_value}}" id="amount">
  </tr>
  <tr>
  <td class="labels>
  <label class="text-input-label" for="casino">Casino:</label>
  </td>
  <td class="input-item">
  <input class="text-input-box" type="text" name="casino_text" value="{{select_casino}}" id="casino-text">
  <select name="casino_select" id="casino-select" disabled="disabled">
    <option value="Other">Other</option> 
  </select>
  </td>
  </tr>
  <tr>
  <td class="labels>
  <label class="text-input-label" for="game_played">Game:</label>
  </td>
  <td class="input-item">
  <input class="text-input-box" type="text" name="game_played_text" value="{{game_played_value}}" id="game-played-text" disabled="disabled">
  <select name="game_played_select" id="game-played-select">
    {% for game_played_option in game_played_options %}
      {% if game_played_option == select_game_played %}
          <option value="{{game_played_option}}" selected="selected">{{game_played_option}}</option>
      {% else %}
        <option value="{{game_played_option}}">{{game_played_option}}</option>
      {% endif %}
    {% endfor %}
    <option value="Other">Other</option> 
  </select>
  </td>
  </tr>
  <tr>
  <td class="labels>
  <label class="text-input-label" for="notes" id="notes-label">Notes:</label>
  </td>
  <td class="input-item">
  <textarea class="textarea-box" name="notes" id="notes">{{notes}}</textarea>
  </td>
  </tr>
  </tbody>
  </table>
  <input type="text" name="is_add_on" value="False" id="is-add-on" disabled="disabled">
  <input type="text" name="is_delete" value="False" id="is-delete" disabled="disabled">
  <div id="bottom-buttons">
  <div id="cancel" class="borderImageBtn whiteButton">Cancel</div>
  <div id="submit" class="borderImageBtn blueButton">Submit</div>
  <div id="extra-button" class="borderImageBtn whiteButton">Use Add On</div>
  </div>
</form>
<script>
  new elevate300.Transaction("{{select_casino}}", "{{add_ons_used}}", "{{all_games}}");
</script>
</body>