<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Elevate Tutoring</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!-- These links will work for production (fail during uncompiled development) -->
  <link rel="apple-touch-icon" href="/images/blueButton.png">
	<script src="/js/transaction.js"></script>
  <link rel="stylesheet" type="text/css" href="style/common.css">
  <link rel="stylesheet" type="text/css" href="style/samples.css">
  <link rel="stylesheet" type="text/css" href="style/transaction.css">

<!-- These links will work for uncompiled development (they will fail during the the compiled product)
  <link rel="stylesheet" type="text/css" href="../style/common.css">
  <link rel="stylesheet" type="text/css" href="../style/transaction.css">
  <link rel="stylesheet" type="text/css" href="../style/samples.css">
  <script type="text/javascript" src="../../../closure/closure-library/closure/goog/base.js"></script>
  <script src="../uncompiled/deps.js"></script>
  <script type="text/javascript">
    goog.require('goog.debug.Logger');
    goog.require('elevate300.Transaction');
  </script>
   -->
   
</head>
<body>
<h1>Transaction</h1>
  <span class="button left" onClick="javascript:window.location.href='/'">Home</span>
  <span class="button" onClick="javascript:window.location.href='/leaderboard'">Leaderboard</span>
<form id="transaction-form" action="/transaction" method="post" accept-charset="utf-8">
	<select name="email_address" id="email-address">
	  {% for trip_member in trip_members %}
      <option value="{{trip_member.email_address}}">{{trip_member.display_name}}</option>
    {% endfor %}
	</select>
	<select name="challenge_type" id="challenge-type">
	  <option value="0">Practice</option>
	  <option value="1">$300 Challenge</option>
	  <option value="2">2nd chance</option>
	  <option value="3">Individual only</option>
	</select>
	<br>
	<label class="text-input-label" for="amount">Amount:</label>
	<input class="text-input-box" type="text" name="amount" value="" id="amount">
	<br>
	<label class="text-input-label" for="casino">Casino:</label>
	<input class="text-input-box" type="text" name="casino" value="" id="casino">
	<br>
	<label class="text-input-label" for="game_played">Game:</label>
	<input class="text-input-box" type="text" name="game_played_text" value="" id="game-played-text">
	<select name="game_played_select" id="game-played-select">
    <option value="Blackjack">Blackjack</option>
    <option value="Hold'em (no limit)">Hold'em (no limit)</option>
    <option value="Hold'em (limit)">Hold'em (limit)</option>
    <option value="Hold'em (tournament)">Hold'em (tournament)</option>
    <option value="Roulette">Roulette</option>
    <option value="Craps">Craps</option>
    <option value="Slots">Slots</option>
    <option value="Pai gow poker">Pai gow poker</option>
    <option value="Other">Other</option>
  </select>
	<br>
	<label class="text-input-label" for="notes" id="notes-label">Notes:</label>
	<textarea class="text-input-box" name="notes" id="notes">{{notes}}</textarea>
  <br>
  <div>
  <span id="cancel" class="borderImageBtn whiteButton">Cancel</span>
  <span id="submit" class="borderImageBtn blueButton">Submit</span>
  </div>
<!--     <input class="borderImageBtn blueButton" type="submit" value="Add Transaction">  -->
</form>
<!-- 
<hr>
<h3>Debug info:</h3>
{% for gamblingTransaction in gamblingTransactions %}
<div style="margin-left: 10px">
  {{gamblingTransaction.emailAddress}}
	{{gamblingTransaction.challengeType}}
	{{gamblingTransaction.amount}}
	{{gamblingTransaction.casino}}
	{{gamblingTransaction.gamePlayed}}
	{{gamblingTransaction.notes}}
</div>
{% endfor %}
<hr>
 -->
<script>
  new elevate300.Transaction();
</script>
</body>