<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Elevate Tutoring</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="apple-touch-icon" href="/images/blueButton.png">
	<link rel="stylesheet" type="text/css" href="style/common.css">
  <link rel="stylesheet" type="text/css" href="style/samples.css">
	<link rel="stylesheet" type="text/css" href="style/trip.css">
  <!--<script src="/js/trip.js"></script>-->
  <script src="/js/elevate300.js"></script>
  
</head>
<body>
<h1>Trip Editor</h1>
	<span class="button left" onClick="javascript:window.location.href='/options'">Options</span>
<form id="trip-form" action="/trip" method="post" accept-charset="utf-8">
  <input type="text" name="trip_key_id" value="{{trip_key_id}}" style="display: none;">
  <label id="trip-label" class="trip-label" for="trip_name"><h4>Trip name:</h4></label>
  <center>
    <input  id="trip-name" class="trip-box" type="text" name="trip_name" value="{{trip_name}}">
  </center>
  <hr>
  <label class="text-input-label" for="creator_display_name">Name:</label>
  <input id="creator-display-name" class="text-input-box" type="text" name="creator_display_name" value="{{creator_name}}">
  <br>
  <label class="text-input-label" for="creator_email_address">Gmail:</label>
  <input id="creator-email-address" class="text-input-box" type="text" name="creator_email_address" value="{{creator_email}}" readonly="readonly">
  <br>
  <label class="text-input-label" for="creator_phone_number">Phone:</label>
  <input id="creator-phone-number" class="text-input-box" type="text" name="creator_phone_number" value="{{creator_phone}}">
  <hr>
  {% for trip_member in trip_members %}
    <label class="text-input-label" for="display_name">Name:</label>
    <input class="text-input-box" type="text" name="display_name" value="{{trip_member.display_name}}">
    <br>
    <label class="text-input-label" for="email_address">Gmail:</label>
    <input class="text-input-box" type="text" name="email_address" value="{{trip_member.email_address}}">
    <br>
    <label class="text-input-label" for="phone_number">Phone:</label>
    <input class="text-input-box" type="text" name="phone_number" value="{{trip_member.phone_number}}">
    <hr>
  {% endfor %}
  <div id="template">
    <label class="text-input-label" for="display_name">Name:</label>
    <input class="text-input-box" type="text" name="display_name" value="">
    <br>
    <label class="text-input-label" for="email_address">Gmail:</label>
    <input class="text-input-box" type="text" name="email_address" value="">
    <br>
    <label class="text-input-label" for="phone_number">Phone:</label>
    <input class="text-input-box" type="text" name="phone_number" value="">
    <hr>
  </div>
</form>
  <div id="add-member-button">
    <img src="/images/addMember.png" alt="Add Member" title="Add Member" />
  </div>
  <br>
  {% if canDelete %}
  <div>
  <span id="delete" class="borderImageBtn whiteButton">Delete</span>
  </div>
  {% endif %}
  <div>
  <span id="cancel" class="borderImageBtn whiteButton">Cancel</span>
  <span id="submit" class="borderImageBtn blueButton">Submit</span>
  </div>
<script>
  new elevate300.Trip();
</script>
</body>